.header__title{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
html {
  scroll-behavior: smooth;
}
.hamburger {
  width: 50px;
  height: 100px;
  position: absolute;
  right: 5rem;
  top: 5rem;
  cursor: pointer;
}
.line1 ,.line2, .line3 {
  width: 50px;
  height: 2px;
  background-color: white;
  margin-bottom: 10px;
  transition: 1s;
}
.none .line2{
  display: none;
}
.none .line3{
  transform: translateY(-11px) rotate(-45deg);
}
.none .line1 {
  transform: rotate(45deg);
}
.nav{
  position: fixed;
  background-color: #16162d;
  top: 0;
  left: -60%;
  width: 20%;
  height: 100%;
  transition: 1s;
}
.open {
  left: 0px !important;
}
.nav__item{
  color: white;
  border-bottom: 0.5px solid grey;
  padding: 5rem 0;
  text-align: center;
  font-size: 3rem;
  font-style: italic;
}
.header__title h1 {
  font-family: 'condiment';
  font-size: 20rem;
  font-family: 'condiment';
  font-size: 20rem;
  background: linear-gradient(to top, #ffe838, #fd57bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.header__title p {
  font-size: 3rem;
  color: white;
  margin-top: 5rem; 
}
.about{
  padding: 1rem  0 10rem 0;
}
.about__main{
  display: flex;
  flex-wrap: wrap;
  color : white;
  justify-content: space-between;
}
.about__img{
  width: 48%;
}
.about__content{
  width: 48%;
}
.about__title {
  text-align: center;
  line-height: 0;
  margin-bottom: 6rem;
}
.about__title h2{
  font-size: 10rem;
  opacity: 0.5;
  text-transform: uppercase;
}
.about__title span{
  font-size: 2rem;
}
.about__content p{
  font-size: 2rem;
}
.about__list{
  display: flex;
  justify-content: center;
  
  
}
.about__list li a {
  transition: 0.5s;
}
.about__list a {
  font-size: 5rem;
  margin-right: 5rem;;
  cursor: pointer;
}

.about__list li:last-child :hover  {
  color:red;
}
.about__list li:nth-child(2) :hover  {
  color:green;
}
.about__list li:first-child :hover  {
  color:blue;
}
.service{
  padding: 10rem 0;
}
.service__title{
  text-align: center;
  color : white;
  margin-bottom: 7rem;
}
.service__title h1{
  font-size: 7rem;
 
}
.service__title p{
  font-size: 2rem;
 
}
.service__list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.service__list p{
  line-height: 2;
}

.service__list h2{
  margin: 3rem 0;
}
.service__item{
  width: 33%;
  text-align: center;
  color : white;
  font-size: 2rem;
}
.service__icon{
  margin-bottom: 2rem;
  width: 15rem;
  height: 15rem;
  border : 3px solid #ffe838;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 4rem;
  background-color: #fd57bf;
  transform: rotate(45deg);
  transition: 0.5s;
}
.service__item:hover .service__icon{
  transform: rotate(225deg);
}
.portfolio__content p{
  margin-bottom: 5rem;
}
.service__icon i{
  color: #ffe838;
  font-size: 5rem;
  transform: rotate(-45deg);
}

.portfolio__title{
  text-align: center;
  color : white;
  margin-bottom: 7rem;
}
.portfolio__title h1{
  font-size: 7rem;
}
.portfolio__title p{
  font-size: 2rem;
}
.portfolio__list{
}
.portfolio__item{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  margin-bottom: 4rem;
  align-items: center;
  
}
.portfolio__img{
  width: 55%;
}
.portfolio__content{
  width: 40%;
}
.portfolio__content{
  color: white;
}
.portfolio__content h2{
  font-size: 3rem;
  letter-spacing: 5px;
  margin: 2rem 0;
}
.portfolio__content span{
  color: white;
}
.portfolio__content p{
  font-size: 2rem;
  max-width: 30rem;
}
.portfolio__item:nth-child(2) .portfolio__img{
  order: 2;
}
.portfolio__content a{
  margin-top: 2rem;
  display: inline-block;
  color: #ffe838;
  font-weight: bold;
  background-color: #fd57bf;
  font-size: 1.5rem;
  border: 2px solid #ffe838;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
.portfolio__content :hover {
  background-color: transparent;
}
.experience{
  padding: 10rem 0;
}
.expericence__title{
  text-align: center;
  color : white;
  margin-bottom: 7rem;
}
.expericence__title h1{
  font-size: 7rem;
}
.expericence__title p{
  font-size: 2rem;
}
.experience__list{
  color: white;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-left: 3px solid #ffe838;
  border-radius: 0.8rem;
  margin-left: 20rem;
 

}
.experience__item{
  margin: auto;
  border-bottom: 0.2px solid gray;
  padding: 2rem 0;
  width: 90%;
  position: relative;
}
.experience__item:nth-child(1):before{
  position: absolute;
  content: ' 4/2018 - 7/2018';
  left: -200px;
  top: 50%;
}
.experience__item:nth-child(2):before{
  position: absolute;
  content: '2015-2019';
  left: -200px;
  top: 50%;
}
.experience__item:after{
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  border: 3px solid;
  border-color: #fd57bf;
  top: 50%;
  left: -7%;
}
.footer{
  background: #16162d;
  padding: 2rem 0;
  text-align: center;
  color: white;
  font-size: 1rem;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .nav__item{
    color: white;
    border-bottom: 0.5px solid grey;
    padding: 2rem 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
  }
  .container{
    padding: 0px 15px;
  }
  html{
    font-size: 50%;
  }
  .about{
    padding: 2rem 0;
  }
  .about__img{
    width: 100%;
  }
  .about__content{
    margin-top: 5rem;
    width: 100%;
  }
  .service__item{
    width: 100%;
    margin-bottom: 5rem;
  }
  .portfolio__item{
    margin-bottom: 4rem;
  }
  .portfolio__item:nth-child(2) .portfolio__img{
    order: 0;
  }
 
  .portfolio__img , .portfolio__content{
    width: 100%;
    
  }
  .experience__item:after{
    
    left: -9%;
  }
  .header__title h1{
    font-size: 10rem;
  }
  .experience__list{
    margin-left: 22rem;
  }
}